/bootstrap/compiled.php
.env.*.php
.env.php
.env

node_modules/

public/chart_data/

public/css/

public/fonts/

public/img/

public/js/

public/vendors

resources/assets/vendors

vendor/
public/mix-manifest\.json
