@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?rafjod');
    src:    url('../fonts/icomoon.eot?rafjod#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rafjod') format('truetype'),
        url('../fonts/icomoon.woff?rafjod') format('woff'),
        url('../fonts/icomoon.svg?rafjod#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrows:before {
    content: "\e900";
}
.icon-baby-bike-with-training-wheels:before {
    content: "\e901";
}
.icon-bicycle:before {
    content: "\e902";
}
.icon-cart:before {
    content: "\e903";
}
.icon-cyclist:before {
    content: "\e904";
}
.icon-dart-arrow-in-the-middle-of-circular-board:before {
    content: "\e905";
}
.icon-discount-badge:before {
    content: "\e906";
}
.icon-global:before {
    content: "\e907";
}
.icon-native-america-mountains:before {
    content: "\e908";
}
.icon-shopping-cart:before {
    content: "\e909";
}
.icon-shopping-trolley-full:before {
    content: "\e90a";
}
.icon-social:before {
    content: "\e90b";
}
.icon-teacher-pointing-at-blackboard:before {
    content: "\e90c";
}
.icon-web-development:before {
    content: "\e90d";
}

